.typing-indicator.message-container {
    width: 20%;
    background-color: rgb(192, 196, 196);
    margin: 6px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 10px;
    word-wrap: break-word;
  }
  
  .typing-indicator.message-container span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(75, 75, 75); 
    margin-right: 4px;
    animation: typing 1s infinite;
  }
  .typing-indicator span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .typing-indicator span:nth-child(3) {
    animation-delay: 0.2s;
  }
  @keyframes typing {
    0% {
      opacity: 0;
      transform: translateY(-5px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(5px);
    }
  }